<h1><%= title %> </h1>
<p>Welcome to LocalLibrary, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
<p>The library has the following record counts:</p>
<h1>Dynamic content</h1>
<ul>
    <li>Books: <%= data.book_count %> </li>
    <li>Copies: <%= data.book_instance_count %> </li>
    <li>Copies available: <%= data.book_instance_available_count%> </li>
    <li>Authors: <%= data.author_count %> </li>
    <li>Genres: <%= data.genre_count %> </li>
</ul>